<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wonder.eclasskit">

    <application
        android:allowBackup="true"
        android:icon="@drawable/leranwithchirathlogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.wonder.eclasskit.video.VideoPlayer"></activity>
        <activity android:name="com.wonder.eclasskit.TeachersRegistration" />
        <activity android:name="com.wonder.eclasskit.TeacherLogin" />
        <activity android:name="com.wonder.eclasskit.Class" />
        <activity android:name="com.wonder.eclasskit.StudentAccount" />
        <activity android:name="com.wonder.eclasskit.MyResult" />
        <activity android:name="com.wonder.eclasskit.QuizHome" />
        <activity android:name="com.wonder.eclasskit.ReviewQuiz" />
        <activity android:name="com.wonder.eclasskit.addQuestions" />
        <activity android:name="com.wonder.eclasskit.quizMain" />
        <activity android:name="com.wonder.eclasskit.Comments" />
        <activity android:name="com.wonder.eclasskit.User" />
        <activity android:name="com.wonder.eclasskit.Notes" />
        <activity android:name="com.wonder.eclasskit.ModelPapers" />
        <activity android:name="com.wonder.eclasskit.PastPapers" />
        <activity android:name="com.wonder.eclasskit.AboutUs" />
        <activity android:name="com.wonder.eclasskit.GetInfo" />
        <activity android:name="com.wonder.eclasskit.Settings" />
        <activity
            android:name="com.wonder.eclasskit.Starting"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.wonder.eclasskit.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name="com.wonder.eclasskit.Services.BackgroundService" />
    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>